{% load static %}
<html lang="en">
<head>

<!-- Meta -->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<!-- Title -->
<title>Austin Reed Resume</title>

<!-- Favicons -->
<link rel="shortcut icon" href="{% static 'img/favicon.png' %}">
<link rel="apple-touch-icon" href="{% static 'img/favicon_60x60.png' %}">
<link rel="apple-touch-icon" sizes="76x76" href="{% static 'img/favicon_76x76.png' %}">
<link rel="apple-touch-icon" sizes="120x120" href="{% static 'img/favicon_120x120.png' %}">
<link rel="apple-touch-icon" sizes="152x152" href="{% static 'img/favicon_152x152.png' %}">

<!-- Google Web Fonts -->
<link href="https://fonts.googleapis.com/css?family=Lora:400,400i%7CPoppins:300,400,500,600" rel="stylesheet">

<!-- CSS Styles -->
<link rel="stylesheet" href="{% static 'css/styles.css' %}" />

<!-- CSS Theme -->
<link id="theme" rel="stylesheet" href="{% static 'css/themes/theme-serif-blue.css' %}" />

</head>

<body>

<!-- Loader -->
<div id="page-loader">
    <svg class="loader" width="32px" height="32px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg"><circle class="circle" fill="none" stroke-width="5" stroke-linecap="round" cx="32" cy="32" r="32"></circle></svg>
</div>
<!-- Loader / End -->

<!-- Header -->
<header id="header" class="header-vertical dark">

    <!-- Photo -->

    <img src="{% static 'img/photos/developer_avatar.jpg' %}" alt="">


    <!-- Navigation -->
    <nav id="main-menu">
        <ul class="nav nav-vertical">
            <li><a href="#start"><i class="pe-7s-home"></i><span>Start</span></a></li>
            <li><a href="#resume"><i class="pe-7s-ribbon"></i><span>Resume</span></a></li>
            <li><a href="#portfolio"><i class="pe-7s-monitor"></i><span>Portfolio</span></a></li>
            <li><a href="#clients"><i class="pe-7s-comment"></i><span>Clients</span></a></li>
            <li><a href="#contact"><i class="pe-7s-mail"></i><span>Contact</span></a></li>
        </ul>
        <span class="selector"></span>
    </nav>



</header>
<!-- Header / End -->

<!-- Content -->
<div id="content">

    <!-- Section - Start -->
    <section id="start" class="section fullheight dark bg-dark">

        <!-- BG Image -->
        <div class="bg-image zooming"><img src="{% static 'img/photos/developer_bg01.jpg' %}" alt=""></div>

        <div class="container container-custom v-center">
            <a href="#" class="btn-play btn-lg mb-30" data-toggle="video-modal" data-target="#modalVideo" data-video="https://www.youtube.com/embed/8hLkSQAS98M"></a>
            <h1 class="text-lg mb-0"><em>Hi! I’m</em> Austin N Reed</h1>
            <p class="lead text-muted">Expert Full-Stack Developer</p>
        </div>

    </section>

    <!-- Section - Resume -->
    <section id="resume" class="section">

        <div class="container container-custom">
            <h2 class="title">Overview</h2>
            <p class="lead mb-80">Highly Skilled Python Programmer & Web Developer - Specializing in Business Automation, Data Mining & Management, Website Development & More!</p>

            <div class="row masonry long-spaces">
                <div class="masonry-sizer col-sm-6 col-xs-12"></div>
                <!-- Specialities -->
                <div class="masonry-item col-sm-6 col-xs-12">
                    <div class="resume-card">
                        <h3 class="title">My Specialities</h3>
                        <div class="row">
                            <div class="col-lg-6">
                                <!-- Feature -->
                                <div class="feature feature-2">
                                    <span class="icon icon-primary"><i class="pe-7s-browser"></i></span>
                                    <div class="feature-content">
                                        <h4>Full Stack Development</h4>
                                    </div>
                                </div>
                                <!-- Feature -->
                                <div class="feature feature-2">
                                    <span class="icon icon-primary"><i class="pe-7s-monitor"></i></span>
                                    <div class="feature-content">
                                        <h4>Wordpress Development</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <!-- Feature -->
                                <div class="feature feature-2">
                                    <span class="icon icon-primary"><i class="pe-7s-edit"></i></span>
                                    <div class="feature-content">
                                        <h4>Custom Web Solutions</h4>
                                    </div>
                                </div>
                                <!-- Feature -->
                                <div class="feature feature-2">
                                    <span class="icon icon-primary"><i class="pe-7s-gleam"></i></span>
                                    <div class="feature-content">
                                        <h4>Database Management</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Skills -->
                 <div class="masonry-item col-sm-6 col-xs-12">
                    <div class="resume-card">
                        <h3 class="title">Skills</h3>
                        <!-- Skill -->
                        <div class="skill">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="100"></div>
                            </div>
                            <h5>Wordpress</h5>
                        </div>
                        <!-- Skill -->
                        <div class="skill">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="90"></div>
                            </div>
                            <h5>PHP</h5>
                        </div>
                        <!-- Skill -->
                        <div class="skill">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="85"></div>
                            </div>
                            <h5>Javascript</h5>
                        </div>
                        <!-- Skill -->
                        <div class="skill">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="90"></div>
                            </div>
                            <h5>Python & Django</h5>
                        </div>
                    </div>
                </div>
                <!-- Languages -->
                <div class="masonry-item col-sm-6 col-xs-12">
                    <div class="resume-card">
                        <h3 class="title">Languages</h3>
                        <!-- Skill -->
                        <div class="skill">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="100"></div>
                            </div>
                            <h5>English</h5>
                        </div>
                        <!-- Skill -->
                        <div class="skill">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="80"></div>
                            </div>
                            <h5>German</h5>
                        </div>
                        <!-- Skill -->
                        <div class="skill">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="50"></div>
                            </div>
                            <h5>Spanish</h5>
                        </div>
                    </div>
                </div>
                <!-- Educatin & Jobs -->
                <div class="masonry-item col-sm-6 col-xs-12">
                    <div class="resume-card">
                        <h3 class="title">Education &amp; Jobs</h3>
                        <div class="timeline">
                            <!-- Event-->
                            <div class="timeline-event animated">
                                <div class="content">
                                    <img src="{% static 'img/photos/python.png' %}" alt="" class="img-rounded">
                                    <h4>Fullstack Development</h4>
                                    <span class="caption">Freelance</span>
                                    <span class="date">2019 - Current</span>
                                </div>
                            </div>
                            <!-- Event-->
                            <div class="timeline-event animated">
                                <div class="content">
                                    <img src="{% static 'img/photos/highstatus.png' %}" alt="" class="img-rounded">
                                    <h4>Marketing & Web Development</h4>
                                    <span class="caption">High Status</span>
                                    <span class="date">2016 - 2019</span>
                                </div>
                            </div>
                            <!-- Event-->
                            <div class="timeline-event animated">
                                <div class="content">
                                    <img src="{% static 'img/photos/UNM.jpg' %}" alt="" class="img-rounded">

                                    <h4>Business Administration</h4>
                                    <span class="caption">University Of New Mexico</span>
                                    <span class="date">2014 - 2017</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Hobbies -->
                <div class="masonry-item col-sm-6 col-xs-12">
                    <div>
                        <h3 class="title">About Me</h3>
                        <p class=" lead mb-80">I am a passionate programmer who has a thirst for learning new things and getting my hands deep in new projects. It is my goal to help businesses solve their problems with code.</p>

                    </div>

                    <div class="resume-card">
                        <h3 class="title">Hobbies &amp; Interests</h3>
                        <div class="row">
                            <div class="col-sm-4">
                                <!-- Feature -->
                                <div class="feature feature-1 text-center">
                                    <span class="icon icon-primary"><i class="pe-7s-arc"></i></span>
                                    <h4>Jiu Jitsu</h4>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <!-- Feature -->
                                <div class="feature feature-1 text-center">
                                    <span class="icon icon-primary"><i class="pe-7s-music"></i></span>
                                    <h4>Music</h4>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <!-- Feature -->
                                <div class="feature feature-1 text-center">
                                    <span class="icon icon-primary"><i class="pe-7s-plane"></i></span>
                                    <h4>Travelling</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <!-- Section - Portfolio -->
    <section id="portfolio" class="section cover bg-black">

        <!-- Filter Bar -->
        <nav class="filter-bar bg-primary dark">
            <div class="tabs-wrapper">
                <h1 class="active">Portfolio</h1>
            </div>
        </nav>

        <!-- Works List -->
        <div id="works-list" class="filter-list row masonry no-spaces">
            <div class="masonry-sizer col-md-4 col-sm-6 col-xs-12"></div>
            <!-- Image Box -->
            <div class="mobileApps masonry-item col-md-4 col-sm-6 col-xs-12">
                <div class="image-box">
                    <div class="image"><a href="https://speedy-internet.com" target="_blank"><img src="{% static 'img/works/work01.jpg' %}" alt=""></a></div>
                    <div class="hover">
                        <a href="https://speedy-internet.com" target="_blank">
                            <h4 class="mb-0">Speedy Internet</h4>
                            <span class="text-muted">Website Dev</span>
                        </a>
                    </div>
                </div>
            </div>
            <!-- Image Box -->
            <div class="webdesign masonry-item col-md-4 col-sm-6 col-xs-12">
                <div class="image-box">
                    <div class="image"><a href="https://austin-reed.com" target="_blank"><img src="{% static 'img/works/work02.jpg' %}" alt=""></a></div>
                    <div class="hover">
                        <a href="https://austin-reed.com" target="_blank">
                            <h4 class="mb-0">Austin Reed Music</h4>
                            <span class="text-muted">Website Dev</span>
                        </a>
                    </div>
                </div>
            </div>
            <!-- Image Box -->
            <div class="socialMedia masonry-item col-md-4 col-sm-6 col-xs-12">
                <div class="image-box">
                    <div class="image"><a href="https://www.summarizeit.us" target="_blank"><img src="{% static 'img/portfolio/newwork.jpg' %}" alt=""></a></div>
                    <div class="hover">
                        <a href="https://www.summarizeit.us" target="_blank">
                            <h4 class="mb-0">Lawyer Website</h4>
                            <span class="text-muted">Website Dev</span>
                        </a>
                    </div>
                </div>
            </div>
            <!-- Image Box -->
            <div class="webdesign masonry-item col-md-4 col-sm-6 col-xs-12">
                <div class="image-box">
                    <div class="image"><a href="{% url 'highstatus' %}" data-toggle="ajax-modal"><img src="{% static 'img/works/work04.jpg' %}" alt=""></a></div>
                    <div class="hover">
                        <a href="{% url 'highstatus' %}" data-toggle="ajax-modal">
                            <h4 class="mb-0">High Status</h4>
                            <span class="text-muted">Website Dev</span>
                        </a>
                    </div>
                </div>
            </div>
            <!-- Image Box -->
            <div class="webdesign masonry-item col-md-4 col-sm-6 col-xs-12">
                <div class="image-box">
                    <div class="image"><a href="https://www.aleksflows.com" target="_blank"><img src="{% static 'img/portfolio/work03copy.jpg' %}" alt=""></a></div>
                    <div class="hover">
                        <a href="https://www.aleksflows.com" target="_blank">
                            <h4 class="mb-0">Yoga</h4>
                            <span class="text-muted">Website Development</span>
                        </a>
                    </div>
                </div>
            </div>
            <!-- Image Box -->
            <div class="mobileApps masonry-item col-md-4 col-sm-6 col-xs-12">
                <div class="image-box">
                    <div class="image"><a href="quaker-pharmacy.fountainheadme.com" target="_blank"><img src="{% static 'img/portfolio/new work 2.jpg' %}" alt=""></a></div>
                    <div class="hover">
                        <a href="https://www.quaker-pharmacy.fountainheadme.com" target="_blank">
                            <h4 class="mb-0">Pharmacy</h4>
                            <span class="text-muted">Website Development</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <!-- Section - Clients -->
    <section id="clients" class="section bg-light">

        <div class="container container-custom">
            <h2 class="text-center mb-80">What clients say?</h2>
            <div class="row masonry">
                <div class="masonry-sizer col-sm-6 col-xs-12"></div>
                <div class="masonry-item col-sm-6 col-xs-12">
                    <!-- Blockquote -->
                    <blockquote class="animated" data-animation="fadeIn">
                        <p>This is the first time I have hired a programmer and I can honestly say that I am impressed with his programming skills. He took my idea and exceeded my expectations. He even added a bit of extra functionality to the program that made it much better for free. I will be coming back for more work in the future.</p>
                        <footer>
                            <a href="https://www.linkedin.com/in/devon-vert-b5a4bb71/"><img src="{% static 'img/avatars/avatar01.jpg' %}"></a>
                            <div class="content">
                                <a href="https://www.linkedin.com/in/devon-vert-b5a4bb71/"><span class="name">Devon Vert</span>
                                    <div class="caption">Digital Marketer</div></a>
                            </div>
                        </footer>
                    </blockquote>
                </div>
                <div class="masonry-item col-sm-6 col-xs-12">
                    <!-- Blockquote -->
                    <blockquote class="animated" data-animation="fadeIn">
                        <p>Austin had really good communication and vision for the website I needed. He provided high quality results before the scheduled end time. The site has been live for well over a year now and it is still working like a charm. Highly Recommended.</p>
                        <footer>
                            <a href="https://speedy-internet.com"><img src="{% static 'img/avatars/avatar02.jpg' %}" alt=""></a>
                            <div class="content">
                                <a href="https://speedy-internet.com"><span class="name">Speedy Internet</span>
                                    <div class="caption">Cellphone Service Company</div></a>
                            </div>
                        </footer>
                    </blockquote>
                </div>
                <div class="masonry-item col-sm-6 col-xs-12">
                    <!-- Blockquote -->
                    <blockquote class="animated" data-animation="fadeIn">
                        <p>I have worked with Austin before and he continues to deliver solutions for what we need. He works hard to deliver projects in a timely manner and communicates effectively. Thanks Austin!</p>
                        <footer>
                            <a href="https://www.linkedin.com/in/tejasrakle/"><img src="{% static 'img/avatars/avatar05.jpg' %}" alt=""></a>
                            <div class="content">
                                <a href="https://www.linkedin.com/in/tejasrakle/"><span class="name">Tejas Rakle</span>
                                    <div class="caption">CEO at ThinkWrite Digital Consultancy</div></a>
                            </div>
                        </footer>
                    </blockquote>
                </div>
                <div class="masonry-item col-sm-6 col-xs-12">
                    <!-- Blockquote -->
                    <blockquote class="animated" data-animation="fadeIn">
                        <p>Thank you so much for helping me with my website. I was a bit confused as to what my website should look like. You took my ideas and gave me something that my fans will love.</p>
                        <footer>
                            <a href="https://web.facebook.com/suryavandan"><img src="{% static 'img/avatars/avatar03.jpg' %}" alt=""></a>
                           <a href="https://web.facebook.com/suryavandan"> <div class="content">
                                <span class="name">Surya V Gaur</span>
                                <div class="caption">Solo Musician</div>
                           </div></a>
                        </footer>
                    </blockquote>
                </div>

            </div>
        </div>

    </section>

    <!-- Section - Contact -->
    <section id="contact" class="section min-fullheight">

        <!-- BG Image -->
        <div class="bg-image zooming"><img src="{% static 'img/photos/coach_bg01.jpg' %}" alt=""></div>

        <div class="container container-custom">
            <div class="contact-box bg-primary dark animated" data-animation="fadeInDown" data-animation-delay="500">
                <div class="contact-box-content">
                    <div class="row" >
                        <div class="col-md-12">
                            <h2 class="mb-50" style=" text-align: center;"><em>Don’t hesitate to</em> contact me!</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="feature feature-1" >
                                <div class="icon" ><span class="ti-desktop">Email:</span></div>
                                <a href="mailto:austin@austin-reed.com" class="h3 font-primary">Austin@Austin-Reed.com</a>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="feature feature-1">
                                <div class="icon"><span class="ti-mobile">Whatsapp:</span></div>
                                <a href="#" class="h3 font-primary">+1 (279) 356-6001</a>
                            </div>
                        </div>
                    </div>
                    <hr class="sep-line">
                    <div class="row">
                        <div class="col-sm-6">
                        </div>
                        <div class="col-sm-6 text-right">

                        </div>
                    </div>
                </div>
                <a href="#" class="contact-toggle"></a>
            </div>
        </div>

    </section>

</div>
<!-- Content / End -->

<!-- Mobile Nav Toggle -->
<a href="#" id="vertical-nav-toggle" class="nav-toggle" data-toggle="mobile-nav"><span><span></span></span></a>

<!-- Ajax Modal -->
<div id="ajax-modal"></div>
<!-- Ajax Close -->
<a href="#" class="ajax-close" data-dismiss="ajax-modal"><i class="ti-close"></i></a>
<!-- Ajax Loader -->
<svg id="ajax-loader" class="loader" width="32px" height="32px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg"><circle class="circle" fill="none" stroke-width="5" stroke-linecap="round" cx="32" cy="32" r="32"></circle></svg>

<!-- Modal / Video -->
<div class="modal modal-video fade" id="modalVideo" role="dialog">
    <button class="close" data-dismiss="modal"><i class="ti-close"></i></button>
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <iframe height="500"></iframe>
        </div>
    </div>
</div>

<!-- JS Libraries -->
<script src="{% static 'js/jquery-1.12.4.min.js' %}"></script>

<!-- JS Plugins -->
<script src="{% static 'js/plugins.js' %}"></script>

<!-- JS Core -->
<script src="{% static 'js/core.js' %}"></script>


</body>

</html>
